In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#path1 = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/new_transactions.csv'
path = '/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Data_Model/Transactions data/new_tdf.csv'
#otdf = "/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Modified_data/transactions_outliers_Sale_P_area.csv"
#udf_20 = "/content/drive/MyDrive/Flipose-Analytics/TruEstates-2/Data/Data_Model/units_2020_dummies.csv"

In [ ]:
tdf = pd.read_csv(path)
#otdf = pd.read_csv(otdf)

In [ ]:
df = tdf

q1 = df['meter_sale_price'].quantile(0.25)
q3 = df['meter_sale_price'].quantile(0.75)
iqr = q3 - q1
mlower = q1 - 1.5 * iqr
mupper = q3 + 1.5 * iqr

pq1 = df['procedure_area'].quantile(0.25)
pq3 = df['procedure_area'].quantile(0.75)
piqr = pq3 - pq1
plower = pq1 - 1.5 * piqr
pupper = pq3 + 1.5 * piqr

# Apply both conditions directly to the 'df' DataFrame
odf_upper = df[(df['meter_sale_price'] > mupper) | (df['procedure_area'] > pupper)] # | (df[df['instance_year'] < "2020"])  & df['property_type_en'] = ]]
odf_lower = df[(df['meter_sale_price'] < 1) | (df['procedure_area'] < 1)]
odf = pd.concat([odf_upper, odf_lower])
odf.shape

(273570, 27)

In [ ]:
odf_upper

,Unnamed: 0,transaction_id,trans_group_en,procedure_name_en,instance_date,property_type_en,property_sub_type_en,property_usage_en,reg_type_en,area_name_en,...,has_parking,procedure_area,actual_worth,meter_sale_price,instance_year,instance_month,instance_day,sector_name,area_lat,area_lon
0,0,1-11-2024-10138,Sales,Sell,2024-03-19,Villa,NaN,Residential,Existing Properties,Mankhool,...,0,1305.29,5769000.0,4419.71,2024.0,3.0,19.0,Unknown,25.24818631,55.29367745
1,1,3-9-2002-39,Gifts,Grant,2002-03-25,Land,NaN,Residential,Existing Properties,Al Hudaiba,...,0,1466.94,1105300.0,753.47,2002.0,3.0,25.0,West,25.24252839,55.27912223
4,4,1-11-2010-17709,Sales,Sell,2010-12-09,Building,NaN,Residential / Commercial,Existing Properties,Al Bada,...,0,559.18,5700000.0,10193.50,2010.0,12.0,9.0,West,25.22531148,55.26867528
8,8,1-11-2007-300075,Sales,Sell,2007-05-24,Building,NaN,Residential / Commercial,Existing Properties,Al Karama,...,0,2382.96,90000000.0,37768.15,2007.0,5.0,24.0,West,25.2449968,55.30454739
10,10,1-11-2025-12474,Sales,Sell,2025-03-28,Building,NaN,Residential,Existing Properties,Al Karama,...,0,211.35,7000000.0,33120.42,2025.0,3.0,28.0,West,25.2449968,55.30454739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1424573,1424573,1-41-2024-13915,Sales,Delayed Sell,2024-07-09,Land,NaN,Commercial,Existing Properties,Me'Aisem Second,...,0,768.00,9267279.0,12066.77,2024.0,7.0,9.0,Unknown,24.99454811,55.21269736
1424575,1424575,1-11-2008-4803,Sales,Sell,2008-08-28,Land,NaN,Commercial,Existing Properties,Al Ruwayyah,...,0,540.05,1802030.0,3336.78,2008.0,8.0,28.0,Unknown,25.0892985,55.3955555
1424577,1424577,2-13-2022-15824,Mortgages,Mortgage Registration,2022-10-14,Land,NaN,Residential,Existing Properties,Al Khawaneej Second,...,0,1115.21,3777952.0,3387.66,2022.0,10.0,14.0,Unknown,25.23068532,55.52192133
1424578,1424578,2-13-2022-17834,Mortgages,Mortgage Registration,2022-11-14,Land,NaN,Residential,Existing Properties,Al Warqa Second,...,0,1138.53,1000000.0,878.33,2022.0,11.0,14.0,Unknown,25.19887303,55.41085323
1424583,1424583,1-41-2023-12911,Sales,Delayed Sell,2023-07-11,Land,NaN,Commercial,Existing Properties,Ghadeer Al tair,...,0,784.00,14850000.0,18941.33,2023.0,7.0,11.0,Unknown,25.15451869,55.27015204

In [ ]:
1151290 +273570

1424860

In [ ]:
odf.shape

(7329, 27)

In [ ]:
otdf_m = df[(df['meter_sale_price'] <= mupper) &  (df['meter_sale_price'] >= 1)]
otdf = otdf_m[(otdf_m['procedure_area'] <= pupper) & (otdf_m['procedure_area'] >= 1)]
otdf.shape

(1151290, 27)

In [ ]:
df_20 = (otdf[otdf['instance_year'] < 2020])
df_20.shape

(562425, 27)

In [ ]:
df_20_bvl = otdf[(otdf['property_type_en'] !="Unit") & (otdf['instance_year'] >= 2020)]
df_20_bvl.shape

(127515, 27)

In [ ]:
dif = otdf.shape[0] - df_20.shape[0]
print(dif)
dif - df_20_bvl.shape[0]

588865

461350

In [ ]:
data_removed = pd.concat([df_20, df_20_bvl,odf])
data_removed.shape

(963510, 27)

In [ ]:
963510 + 461348

1424858

In [ ]:
data_removed

,Unnamed: 0,transaction_id,trans_group_en,procedure_name_en,instance_date,property_type_en,property_sub_type_en,property_usage_en,reg_type_en,area_name_en,...,has_parking,procedure_area,actual_worth,meter_sale_price,instance_year,instance_month,instance_day,sector_name,area_lat,area_lon
2,2,1-11-2016-12930,Sales,Sell,2016-11-02,Villa,NaN,Residential,Existing Properties,Al Bada,...,0,390.00,2089900.0,5358.72,2016.0,11.0,2.0,West,25.22531148,55.26867528
3,3,1-11-2005-300028,Sales,Sell,2005-02-28,Villa,NaN,Residential,Existing Properties,Al Bada,...,0,396.09,511612.0,1291.66,2005.0,2.0,28.0,West,25.22531148,55.26867528
5,5,1-11-2013-7839,Sales,Sell,2013-03-12,Villa,NaN,Residential,Existing Properties,Al Bada,...,0,362.32,1500000.0,4139.99,2013.0,3.0,12.0,West,25.22531148,55.26867528
6,6,1-11-1997-36,Sales,Sell,1997-12-15,Building,NaN,Residential,Existing Properties,Al Karama,...,0,211.35,1300000.0,6150.93,1997.0,12.0,15.0,West,25.2449968,55.30454739
11,11,2-13-2006-715,Mortgages,Mortgage Registration,2006-06-20,Land,NaN,Commercial,Existing Properties,Al Karama,...,0,422.71,5000000.0,11828.44,2006.0,6.0,20.0,West,25.2449968,55.30454739
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423127,1423127,1-11-2016-269,Sales,Sell,2016-01-07,Building,NaN,Residential / Commercial,Existing Properties,Naif,...,0,722.79,25000000.0,34588.19,2016.0,1.0,7.0,North_west,25.271654,55.30894993
1423587,1423587,1-102-2022-30322,Sales,Sell - Pre registration,2022-10-05,Unit,Flat,Residential,Off-Plan Properties,Palm Jumeirah,...,1,628.67,27215000.0,43289.80,2022.0,10.0,5.0,West,25.1193271,55.1317401
1423590,1423590,1-102-2022-38669,Sales,Sell - Pre registration,2022-11-21,Unit,Flat,Residential,Off-Plan Properties,Palm Jumeirah,...,1,607.30,32655000.0,53770.79,2022.0,11.0,21.0,West,25.1193271,55.1317401
1423793,1423793,1-102-2025-15294,Sales,Sell - Pre registration,2025-02-25,Unit,Flat,Residential,Off-Plan Properties,Jumeirah Second,...,1,801.27,55200000.0,68890.64,2025.0,2.0,25.0,West,25.2075147,55.2394827
1424295,1424295,2-13-2020-1163,Mortgages,Mortgage Registration,2020-02-17,Building,NaN,Multi-Use,Existing Properties,Business Bay,...,0,3000.02,102000000.0,33999.77,2020.0,2.0,17.0,Unknown,25.18762593,55.27989946

In [ ]:
area_stats_outliers = data_removed.groupby(['area_name_en','area_lat','area_lon'])['meter_sale_price'].agg(['mean','count']).reset_index()
area_stats_outliers.rename(columns={'mean': 'Average Meter Sale Price', 'count': 'Transaction Count'}, inplace=True)

In [ ]:
area_stats_outliers.to_excel('/content/drive/MyDrive/Flipose-Analytics/Work/Vismaya/area_stats_not_for_model.xlsx')

In [ ]:
area_stats_outliers.to_excel()

In [ ]:
df.shape[0] - data_removed.shape[0]

461395

In [ ]:
udf_20 = pd.read_csv(udf_20)

In [ ]:
udf_20.shape

(461348, 59)

In [ ]:
1