# Imports

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
drive.mount('/content/drive',force_remount=True)

# Data understanding

## data loading

### Data unique_values

In [ ]:
#creating unique values count
unique_df = pd.DataFrame()
for col in df.columns:
    unique_df[col] = [df[col].nunique()] # Store only the number of unique values

### Checking data types

In [ ]:
df.info()

In [ ]:
df.dtypes

### droping uneccesory columns

In [1]:
col_names= ['transaction_id', 'procedure_id', 'trans_group_id', 'trans_group_ar',
       'trans_group_en', 'procedure_name_ar', 'procedure_name_en',
       'instance_date', 'property_type_id', 'property_type_ar',
       'property_type_en', 'property_sub_type_id', 'property_sub_type_ar',
       'property_sub_type_en', 'property_usage_ar', 'property_usage_en',
       'reg_type_id', 'reg_type_ar', 'reg_type_en', 'area_id', 'area_name_ar',
       'area_name_en', 'building_name_ar', 'building_name_en',
       'project_number', 'project_name_ar', 'project_name_en',
       'master_project_en', 'master_project_ar', 'nearest_landmark_ar',
       'nearest_landmark_en', 'nearest_metro_ar', 'nearest_metro_en',
       'nearest_mall_ar', 'nearest_mall_en', 'rooms_ar', 'rooms_en',
       'has_parking', 'procedure_area', 'actual_worth', 'meter_sale_price',
       'rent_value', 'meter_rent_price', 'no_of_parties_role_1',
       'no_of_parties_role_2', 'no_of_parties_role_3']

numcolumns =  ['transaction_id', 'procedure_id', 'trans_group_id', 'property_type_id',
               'property_sub_type_id', 'reg_type_id', 'area_id', 'project_number',
               'has_parking', 'actual_worth', 'meter_sale_price',
               'no_of_parties_role_1', 'no_of_parties_role_2', 'no_of_parties_role_3']

removing_columns =['trans_group_ar', 'procedure_name_ar', 'property_type_ar',
                    'property_sub_type_ar', 'property_usage_ar', 'reg_type_ar',
                    'area_name_ar', 'building_name_ar', 'project_name_ar',
                    'master_project_ar', 'nearest_landmark_ar', 'nearest_metro_ar',
                    'nearest_mall_ar', 'rooms_ar']

In [ ]:
df1 =df.drop(columns=removing_columns)
df1.shape

In [ ]:
df = df1.copy()

### null values

In [ ]:
null_df_summary = pd.DataFrame()
null_df_summary['null_count']= df.isnull().sum()
null_df_summary['null_%'] = (null_df_summary['null_count'] / len(df)) * 100
write_to_excel(null_df_summary, sheet_name='null_df_summary')
instance_Year = df.groupby(['instance_Year'])[['meter_sale_price']].describe().round(3)
write_to_excel(instance_Year, sheet_name='instance_Year')
data_info = df.info()
write_to_excel(data_info, sheet_name='data_info')

In [ ]:
#info_df = pd.DataFrame()  # Initialize an empty DataFrame
#info_df['columns'] = df.columns
#info_df['Datatype'] = df.dtypes
#info_df['Non_Null_Count'] = df.count()
#info_df['Null_Count'] = df.isnull().sum()
#info_df['Unique_Count'] = df.nunique()
#= df.min()
# info_df['Max_Value'] = df.max()
data_summary_df = df['instance_date'].max() # Transpose and assign to a new variable
#data_summary_df.to_csv('data_summary.csv', index=True)  # Save to a CSV file

In [ ]:
summary = df.describe().round(4)#.to_excel('description.xlsx', sheet_name='Sheet1', index=True)

# Data analysis

#### Primary focus on **meter_sale_price**

In [ ]:
def describe_df(df):
  #write_to_excel(summary, sheet_name='Summary')
  Summary_df = df.describe().round(4).transpose()
  write_to_excel(Summary_df, sheet_name='Summary_df')

  year_wise_data = df.groupby(['instance_Year','instance_Month'],dropna = False)[['actual_worth','meter_sale_price']].describe().round(4)
  write_to_excel(year_wise_data, sheet_name='Year_wise_data')

  month_wise_data = df.groupby(['instance_Month'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(month_wise_data, sheet_name='Month_wise_data')

  property_type = df.groupby(['property_type_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(property_type, sheet_name='property_type')

  property_sub_type_en = df.groupby(['property_sub_type_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(property_sub_type_en, sheet_name='property_sub_type_en')

  master_project = df.groupby(['master_project_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(master_project, sheet_name='master_project')

  project_name = df.groupby(['project_name_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(project_name, sheet_name='project_name')

  area_name_en = df.groupby(['area_name_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(area_name_en, sheet_name='area_name_en')

  building_name = df.groupby(['building_name_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(building_name, sheet_name='building_name')

  nearest_landmark= df.groupby(['nearest_landmark_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(nearest_landmark, sheet_name='nearest_landmark')

  nearest_metro_en = df.groupby(['nearest_metro_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(nearest_metro_en, sheet_name='nearest_metro_en')

  nearest_mall = df.groupby(['nearest_mall_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(nearest_mall, sheet_name='nearest_mall')

  property_usage = df.groupby(['property_usage_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(property_usage, sheet_name='property_usage')

  rooms = df.groupby(['rooms_en'],dropna = False)[['meter_sale_price']].describe().round(4)
  write_to_excel(rooms, sheet_name='rooms')

  trans_group = df.groupby(['trans_group_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(trans_group, sheet_name='trans_group')

  reg_type = df.groupby(['reg_type_en'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(reg_type, sheet_name='reg_type')

  has_parking = df.groupby(['has_parking'],dropna = False)[['meter_sale_price']].describe().round(3)
  write_to_excel(has_parking, sheet_name='has_parking')

  print("all excuted Succesfully")

  return 0


  #import pandas as pd # Make sure pandas is imported
#null_df = pd.DataFrame() # Defining null_df before using it


#write_to_excel(df_dtypes, sheet_name='df_dtypes')

## modified data

In [ ]:
q1 = df['meter_sale_price'].quantile(0.25)
q3 = df['meter_sale_price'].quantile(0.75)
iqr = q3 - q1
mlower = q1 - 1.5 * iqr
mupper = q3 + 1.5 * iqr

pq1 = df['procedure_area'].quantile(0.25)
pq3 = df['procedure_area'].quantile(0.75)
piqr = pq3 - pq1
plower = pq1 - 1.5 * piqr
pupper = pq3 + 1.5 * piqr

# Apply both conditions directly to the 'df' DataFrame
odf_upper = df[(df['meter_sale_price'] > mupper) | (df['procedure_area'] > pupper)] # | (df[df['instance_year'] < "2020"])  & df['property_type_en'] = ]]
odf_lower = df[(df['meter_sale_price'] < 1) | (df['procedure_area'] < 1)]
odf = pd.concat([odf_upper, odf_lower])
odf.shape

Odf is the file used for new data file for modeling.